@model TeamListViewModel

@{ 
    ViewData["Title"] = "Name"; 
}

<form asp-action="Change" method="post">
    <input asp-for="@Model.UserName" placeholder="Type name here"
            class="mb-3" /><br />
    <!-- you can code a link to the Home page here -->
    <button type="submit" class="btn btn-primary">
        Change Name
    </button>
</form>